#search and upload paths
uploadpath=web/guest/shallon_upload
searchpath=web/guest/search

# data entry values for the various searches
firstname=wolfgang
lastname=benitez
existingpubmedid=23442855
fullname=Moyer, Daniel
gibberish=djadsalkdjajda
firstinitial=Moyer, D
title=Stress fractures of the pelvis and legs in athletes: a review. 